
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
/.idea
Builds/Android/.idea
Builds/Android/.gradle
Builds/Android/lib/.cxx
Builds/Android/lib/build
Builds/iOS/build
.cxx
build
